<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Leer_Formulario_Ingreso</servlet-name>
        <servlet-class>Controlador.Leer_Formulario_Ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crear_Nueva_Materia</servlet-name>
        <servlet-class>Controlador.Crear_Nueva_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ver_Materia</servlet-name>
        <servlet-class>Controlador.Ver_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visualizar_Materia</servlet-name>
        <servlet-class>Controlador.Visualizar_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crear_Nuevo_Estudiante</servlet-name>
        <servlet-class>Controlador.Crear_Nuevo_Estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_Estudiante_Materia</servlet-name>
        <servlet-class>Controlador.Agregar_Estudiante_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_Estudiante_Existente_Materia</servlet-name>
        <servlet-class>Controlador.Agregar_Estudiante_Existente_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Materia</servlet-name>
        <servlet-class>Controlador.Eliminar_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Volver</servlet-name>
        <servlet-class>Controlador.Volver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Volver_Vista_Materia</servlet-name>
        <servlet-class>Controlador.Volver_Vista_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar_Sesion</servlet-name>
        <servlet-class>Controlador.Cerrar_Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar_Notas</servlet-name>
        <servlet-class>Controlador.Guardar_Notas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_Estudiantes_txt</servlet-name>
        <servlet-class>Controlador.Agregar_Estudiantes_txt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leer_Form_No_Matriculado</servlet-name>
        <servlet-class>Controlador.Leer_Form_No_Matriculado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Leer_Formulario_Ingreso</servlet-name>
        <url-pattern>/leer_formulario_ingreso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crear_Nueva_Materia</servlet-name>
        <url-pattern>/crear_nueva_materia.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visualizar_Materia</servlet-name>
        <url-pattern>/visualizar_materia.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crear_Nuevo_Estudiante</servlet-name>
        <url-pattern>/crear_nuevo_estudiante.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_Estudiante_Materia</servlet-name>
        <url-pattern>/agregar_estudiante_materia.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_Estudiante_Existente_Materia</servlet-name>
        <url-pattern>/agregar_estudiante_existente_materia.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Materia</servlet-name>
        <url-pattern>/eliminar_materia.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Volver</servlet-name>
        <url-pattern>/volver.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Volver_Vista_Materia</servlet-name>
        <url-pattern>/volver_vista_materia.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar_Sesion</servlet-name>
        <url-pattern>/cerrar_sesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar_Notas</servlet-name>
        <url-pattern>/guardar_notas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_Estudiantes_txt</servlet-name>
        <url-pattern>/agregar_estudiantes_txt.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leer_Form_No_Matriculado</servlet-name>
        <url-pattern>/leer_form_no_matriculado.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
